<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="./js/vue.js"></script>
<title>Vue中的全局组件</title>
</head>
<body>
	<div id = "app">
		<input type="text" v-model="inputValue"/>
		<button v-on:click="handleClickButton">提交</button>
		
		<ul>
			<todo-item v-bind:content="item" v-for="item in list"></todo-item>
		</ul>
		
	</div>
	<script type="text/javascript">
		/*Vue的全局组件*/
		Vue.component("TodoItem",{
			props:["content"],
			template:"<li>{{content}}</li>"
		})
		
		var app = new Vue({
			el:"#app",
			data:{
				list:[],
				inputValue:""
			},
			methods:{
				handleClickButton:function(){
					//直接用 this直接能到达data的 inputValue当中;
					this.list.push(this.inputValue)
					this.inputValue = ""
				}
			}
		})

	</script>
</body>

</html>